body
{
    font-family:Actay;
    margin: 0;
}

header
{
    position: absolute;
    width: auto;
    height: 80px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgb(49, 0, 85); 
}

header #logo_foto
{ 
    position: absolute;
    width: 77px;
    height: 75px;
    left: 33px; 
    top: 2px;
    bottom: 3px;
}  

nav
{
    position: absolute;
    width: 1163px; 
    height: 30px;
    left: 178.5px;
    right: 178.5px;
    bottom: 1px; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 29px 0px 29px 0px;
    font-size: 28px;
}  

.menu   
{
    margin: 3% 0%; 
    color: #FFF;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: auto;
    height: 25px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.menu li
{
    float: left;
    display: block; 
    margin-right: 51px; 
}
    
.menu a
{
    color: #FFF;
    text-decoration: none;   
} 
.menu a:hover
{
    color: #fff; 
    text-shadow:
    5px  5px 10px #576fd5,  
    5px -5px 10px #576fd5,   
    -5px  5px 10px #576fd5,  
    -5px -5px 10px #576fd5;  
} 

.li_go
{
    margin-top: -0.35%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px 0px;
    gap: 10px;   
    flex: none;
    order: 0;
    flex-grow: 0; 
    border-bottom: 5px solid rgb(82, 183, 255);
}

#li_go    
{
    font-style: normal;   
    align-items: center;
    letter-spacing: 0.24px; 
    flex: none;
    order: 0;
    flex-grow: 0;
}

.img_ac
{
    position: relative;
    width: 60px;
    height: 60px; 
    margin: 6px 10px;
}

.img_ac img
{ 
    height: 60px;
}

.acc 
{
    position: relative;
    width: 150px;
    height: 80px;
    left: 1350px;   
    display: inline-block;
}

.dropbtn_acc
{
    position: relative;
    cursor: pointer;    
    background-color: transparent;
    border-color: transparent;
    width: 150px;
    height: 80px;
}

.dropdown-content a 
{
    color: white;
    padding: 10px 16px;
    width: auto;
    text-decoration: none;
    display: block;
}  

.dropdown-content img
{
    height: 40px; 
}

.acc:hover .dropdown-content 
{
    display: block;
}

.acc:hover .dropbtn 
{
    background-color: #3e8e41;
}

.acc a
{
    position: static;
    width: 100%;
    margin: 5px 0px;
    height: 40px; 
}

.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #250E56; 
    top:80px;
    right:15px ;
    min-width: 440px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu_drop_img_1, .menu_drop_img_2,.menu_drop_img_3
{
    margin: 0px 10px;
    position: absolute; 
    height: 40px;
    width: 40px;
    left: 0;
    right: 390px; 
}

.menu_drop_1, .menu_drop_2, .menu_drop_3
{
    position: static; 
    margin: 5px 55px; 
    height: 40px;
}

.menu_drop_1 span, .menu_drop_2 span, .menu_drop_3 span  
{
    color: rgb(255, 255, 255);
    font-family: Actay;
    font-size: 24px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
}

.menu_drop_1 span:hover, .menu_drop_2 span:hover, .menu_drop_3 span:hover  
{
    color: #fff; 
    text-shadow:
    5px  5px 10px #576fd5,  
    5px -5px 10px #576fd5,   
    -5px  5px 10px #576fd5,  
    -5px -5px 10px #576fd5;  
}

.menu_drop_3 input[type=submit]
{
    background: #250E56; 
    border-color: #250E56; 
        color: rgb(255, 255, 255);
        font-family: Actay;
        font-size: 18px;
        font-weight: 400;
        line-height: 190%;
        letter-spacing: 0%;
        text-align: left;
        text-transform: uppercase;

}
input 
{
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    }

.arrow 
{
    position: relative;
    top:-55px;
    left: 100px;
    width: 26px;
    height: 26px;
    border-top: 5px solid #ffffff;
    border-right: 5px solid #ffffff; 
    transform: rotate(135deg);
}

main
{
    position: static; 
    width: 98%;
    height: auto;
    margin: 120px auto 80px;
}

main h1
{ 
    text-align: center;
    font-size: 62px;
}

.info_deps
{
    width: 1300px;
    margin: auto;

}

.info_deps p
{
    font-size: 26px;
}

.table_emp h2
{
    text-align: center;
    font-size: 32px;
}

.table_emp table
{
    width: 90%;
    margin: auto;
}

.table_emp table
{
    border-collapse: collapse;
}
.table_emp thead
{
    background-color: rgb(237, 235, 253);
    font-size: 27px;
}

.table_emp tbody
{
    font-size: 25px;
}

.table_emp th,td
{
    padding: 5px;
    border: 1px solid rgb(101, 58, 137);
}

.raiting
{ 
    width: 90%;
    margin: 10px 6.2%; 
}

.raiting select
{
    /* Frame 14 */ 
    padding: 10px;
    width: 350px;
    height: 60px;
    left: 154.38px;
    font-family: Actay;
    font-size: 34px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.raiting h2
{
    font-size: 44px;
    margin-bottom: 45px;
}

.raiting input[type="submit"]
{
    background-color: #E0C3FC;
    border-color: transparent;
    margin:0px 20px;
    font-size: 30px;
    font-family: Actay;
    padding: 10px 20px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    border-radius: 20px;
}

.raiting input[type="submit"]:hover
{
    border-radius: 20px;

background: rgb(82, 183, 255);
}

.total_points
{
    padding: 10px;
    font-size: 25px;
}

.pace
{
    padding: 10px;
}

.histogram_points,.histogram_pace
{
    width: 75%;
    height: auto;
    margin:0% 10.7% ; 
}

.histogram_points p
{
    font-size: 25px;
}

.row
{
    background-color: #e0c3ff; 
    display: inline-flex;
    padding: 5px;
    color: black;
    align-items: end;
    margin-right: 10px;
}

.row p
{
    font-size: 20px;
}

footer
{
    /* position: absolute; */
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
    gap: 10px;
    width: auto;
    height: 35%;
    /* left: 0;
    right: 0;
    top: 1912px;
    bottom: 0; */
    font-family: Actay; 
    background: rgb(49, 0, 85);
}

#logo_f
{
    width: 60px;
    margin: 1%;
}

footer h4
{
    margin: 2% 0%;
    font-family: SovMod ;
    color: rgb(255, 255, 255);
    width: auto;
    font-size: 30pt;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
}

.footer_h
{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin: 1% auto;
}

footer a
{
    text-decoration:none;   
    color: rgb(255, 255, 255);
    font-size: 20pt;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.teleg
{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin: 0% auto 1%;
}

.teleg img
{
    width: 40px;
    height: 40px;    
    margin: -1% auto;
}

footer p
{
    color: rgb(255, 255, 255);
    font-size: 16pt;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 5%;
    text-align: center;
    text-transform: uppercase;
}

#teleg_text
{
    width: auto;
    height: auto;
}