body
{
    font-family:Actay;
}

header
{
    position: absolute;
    width: auto;
    height: 80px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgb(49, 0, 85); 
}

header img
{ 
    position: absolute;
    width: 77px;
    height: 75px;
    left: 33px; 
    top: 2px;
    bottom: 3px;
} 

.heads_menu h1
{
    width: auto;
    height: auto;
    position: absolute; 
    left: 17%;
    right: 19%;
    top: 20%;
    bottom: 15%;
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin: 2% 0%;
    color:white;
    font-family:SovMod;
    font-size: 54pt;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
}

.reg_form
{ 
    position: static;
    width: 1420px;
    height: auto; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px; 
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 120px auto 80px;
}

.reg_form h1
{ 
    position: static;
    width: 662px;
    height: 90px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px; 
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 40px 0px;
    color: rgb(0, 0, 0); 
    font-size: 72px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
}

.info
{ 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 12px 20px;
    align-items: stretch;
    align-content: flex-end;
    flex-wrap: nowrap;
    height: auto; 
    flex-grow: 0;
    order: 1;
} 

.info input[type=text],input[type=date],input[type=email]
{ 
    width: 400px;  
    box-sizing: border-box; 
    padding: 12px 20px;  
    font-weight: 100;
    height: 55px;
    font-size: 30pt;
    border-radius: 15px;
    border-color: transparent;
    box-shadow: inset 0px 4px 4px 0px rgba(16, 0, 43, 0.75);
    background: rgb(247, 235, 253);
    text-align: center;
}

.info input[type=text]:hover, .info input[type=text]:active, .info input[type=password]:hover, .info input[type=password]:active,.info input[type=text]:focus, .info input[type=password]:focus, .info input[type=email]:hover, .info input[type=email]:active,.info input[type=email]:focus, .info input[type=date]:hover, .info input[type=date]:active,.info input[type=date]:focus
{
    box-sizing: border-box;
    border: 3px solid rgb(101, 58, 137); 
}

input 
{
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    }

.perinfo_1
{ 
    position: static;
    width: 1330px;
    height: 273px; 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px; 
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 25px auto 0px;
}

.perinfo_2
{ 
    position: static;
    height: 40px;
    width: 1330px; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px; 
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px auto 25px;
}

.perinfo_2 p
{
    font-size: 30px;
    margin: 0px;
}
.perinfo_2 label
{
    font-size: 28px;
}

fieldset
{
   /* width: 1380px; */ 
    margin: 25px 0px; 

}

legend
{
    font-size: 35px;
    font-weight: 600;

}

.perinfo
{   
    position: static;
    height: 315px; 
    flex: none;
    order: 0;
    flex-grow: 0;
}

.perinfo input[type=text],input[type=date],input[type=email]
{ 
    position: relative;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px;
    width: 400px;  
}

.perinfo_left
{   
    position: static; 
    height: 265px; 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px; 
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
} 


.perinfo_left #text_label
{
    color: rgb(0, 0, 0);
    font-family: Actay;
    font-size: 30px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: right; 
    margin-top: 0px; 
    margin-bottom: 40px;
} 

.perinfo_right
{  
    position: static; 
    height: 273px; 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px; 
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px;
}

.perinfo_right #text_label
{
    color: rgb(0, 0, 0);
    font-family: Actay;
    font-size: 30px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: right; 
    margin-top: 0px; 
    margin-bottom: 42px;
} 

.left_p
{ 
    position: static;  
    flex: none;
    order: 0;
    flex-grow: 0;
    margin:10px 23px 0px 0px ;
}

.right_p
{ 
    position: static;
    width: 400px; 
    flex: none;
    order: 1;
    flex-grow: 0; 
}

.left_p1
{ 
    position: static; 
    width: 290px; 
    flex: none;
    order: 0;
    flex-grow: 0;
    margin:10px 23px 0px 5px ;
}

.right_p1
{ 
    position: static;
    width: 400px; 
    flex: none;
    order: 1;
    flex-grow: 0; 
}

.com1, .com2
{
    position: static;
    margin: 5px 0px 10px;
    height: 18px;
}

.workinfo
{ 
    position: static; 
    height: 150px; 
    flex: none;
    order: 1;
    flex-grow: 0; 
} 

.work_info
{ 
    position: static;
    width: 1330px; 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px; 
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 25px 0px 0px 76px;
} 

.work_info_left
{
    width: 600px;
    position: static;  
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px; 
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 50px 0px 10px;
}

.work_info  #text_label
{
    color: rgb(0, 0, 0);
    font-family: Actay;
    font-size: 30px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: right; 
    margin:10px 20px 5px 0px;  
}

.work_info_right
{
    position: static;  
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px; 
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px;
}

.exitinfo
{
    position: static;
    height: 150px; 
    flex: none;
    order: 2;
    flex-grow: 0;
}

.exit_info
{ 
    position: static;
    width: 1330px; 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px; 
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 25px 0px 0px 76px;
} 

.exit_info_left
{
    width: 600px;
    position: static;  
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px; 
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 50px 0px 10px;
}

.exit_info  #text_label
{
    color: rgb(0, 0, 0);
    font-family: Actay;
    font-size: 30px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: right; 
    margin:10px 20px 5px 0px;  
}

.exit_info_right
{
    position: static;  
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px; 
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 68px;
}

.btn input[type=submit]
{ 
    position: static;
    width: 360px; 
    padding: 28px 30px 28px 30px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 40px 0px;
    border-radius: 40px;
    font-size: 24px;
    background: rgb(182, 175, 245);
    font-family:Actay;
    border-color: transparent;
}

.btn
{
    margin: 0% auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.btn input[type=submit]:hover
{
    border-radius: 40px;

background: rgb(82, 183, 255);
}

footer
{
    position: absolute;
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
    gap: 10px;
    width: auto;
    height: 35%;
    left: 0;
    right: 0;
    top: 1340px;
    font-family: Actay;
    bottom: 0;
    background: rgb(49, 0, 85);
}

#logo_f
{
    width: 60px;
    margin: 1%;
}

footer h4
{
    margin: 2% 0%;
    font-family: SovMod ;
    color: rgb(255, 255, 255);
    width: auto;
    font-size: 30pt;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
}

.footer_h
{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin: 1% auto;
}

footer a
{
    text-decoration:none;   
    color: rgb(255, 255, 255);
    font-size: 20pt;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.teleg
{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin: 0% auto 1%;
}

.teleg img
{
    width: 40px;
    height: 40px;    
    margin: -1% auto;
}

footer p
{
    color: rgb(255, 255, 255);
    font-size: 16pt;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 5%;
    text-align: center;
    text-transform: uppercase;
}

#teleg_text
{
    width: auto;
    height: auto;
}

.info select
{ 
    width: 400px;  
    box-sizing: border-box; 
    padding: 10px 25px;  
    font-weight: 100;
    height: 55px;
    font-size: 20pt;
    border-radius: 15px;
    border-color: transparent;
    box-shadow: inset 0px 4px 4px 0px rgba(16, 0, 43, 0.75);
    background: rgb(247, 235, 253);
    text-align: center;
}
